<launch>

  <node name="RosAria" pkg="rosaria" type="RosAria">
    <param name="port" value="/dev/ttyS1" />
  </node>

  <node name="nmea_serial_driver_node" pkg="nmea_navsat_driver" type="nmea_serial_driver">
    <param name="port" value="/dev/ttyACM0" />
    <param name="baud" value="9600" />
  </node>

  <node name="GPSTalker" pkg="gps_travel" type="GPSTravel.py">
  </node>
  
  <node name="MegaMind" pkg="megamind" type="MegaMind.py">
  </node>

</launch>
